@import "tailwindcss";

:root { 
    --primary : #8B008B ;
}

@layer base {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}

@layer components {
    .authLink {
        @apply text-[var(--primary)] hover:opacity-65 hover:underline
    }

    .main-auth-div {
        @apply overflow-hidden; 
    }   
    
    .auth-form {
        @apply space-y-4 px-5 w-full;
    }

    .authErrorMessage {
        font-size: 0.75rem;
        @apply text-red-600 flex justify-end;
    } 
}

/* DarkMode Toggle Animation */
@layer utilities {
  @keyframes knob-slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(1.5rem);
    }
  }

  @keyframes knob-slide-rev {
    0% {
      transform: translateX(3rem);
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-knob-forward {
    animation: knob-slide 0.3s cubic-bezier(0.22, 0.9, 0.3, 1) forwards;
  }

  .animate-knob-back {
    animation: knob-slide-rev 0.3s cubic-bezier(0.22, 0.9, 0.3, 1) forwards;
  }
}